<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hanbing.demo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".md.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".md.ScrollingActivity2"
            android:label="@string/title_activity_scrolling2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".EmptyActivity">
        </activity>
        <activity android:name=".activity.TestOnActivityResultActivity">
        </activity>
        <activity android:name=".activity.TestNumberPickerActivity">
        </activity>
        <activity android:name=".activity.TestRestoreActivity">
        </activity>
        <activity android:name=".activity.TestSlideMenuActivity">
        </activity>
        <activity android:name=".activity.TestSlideMenu2Activity">
        </activity>
        <activity android:name=".activity.TabLayoutActivity">
        </activity>
        <activity android:name=".activity.TestListHelperActivity">
        </activity>
        <activity android:name=".activity.TestNestedScrollActivity">
        </activity>
        <activity android:name=".activity.TestImageLoaderActivity">
        </activity>
        <activity android:name=".activity.TestCropBitmapActivity">
        </activity>
        <activity android:name=".activity.OttoActivity">
        </activity>
        <activity android:name=".activity.EventBusActivity">
        </activity>
        <activity android:name=".activity.RxBusActivity">
        </activity>
        <activity android:name=".activity.RxBusSubActivity">
        </activity>
        <activity android:name=".activity.TestPtrActivity">
        </activity>
        <activity android:name=".activity.TestSlidingPaneActivity">
        </activity>
        <activity android:name=".activity.TestRecyclerViewActivity">
        </activity>
        <activity android:name=".activity.TestTransitionActivity" android:theme="@style/ActivityTransitionTheme">
        </activity>
        <activity android:name=".activity.TestTransition2Activity" android:theme="@style/ActivityTransitionTheme">
        </activity>
    </application>

</manifest>